
.b1 {
    border-right-style: solid;
    }

.b2 {
    border-top-style: solid;
    }

.centralizado
{
text-align: center;
}

button {
    padding: 7px;
    border-radius: 4px;
    cursor: pointer;
}

table {
    border-collapse: collapse;
    margin: auto;
}

td, th {
    padding: 80px;
    cursor: pointer;
}

td:hover {
background-color: #ddd;
}
